body{
    font-family: sans-serif;
    overflow-x: hidden;
}

.content{
    /*要素の高さを指定*/
    height: 300px;
    /*上下方向にはみ出した要素ををスクロールさせる*/
    overflow-y: scroll;
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
}

/*スクロールバー非表示（Chrome・Safari）*/
.content::-webkit-scrollbar{
    display:none;
}

#wrapper{
    flex-wrap: wrap;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium
    font-weight: lighter;
    color: black;
}

.name02{
    font-size: xx-large;
}

.name02:hover {
	opacity: 0.6;
}

.flex-container{
    font-size: medium;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.menu-container{
    color:lightgrey
}

.menu-container:hover {
	opacity: 0.6;
}

.selected-container{
    color:black
}

.selected-container:hover {
	opacity: 0.6;
}

.p{
    font-size: medium;
    margin-top: 100px;
    margin-left: 12%;

}

.p-right{
    font-size: medium;
    margin-top: 100px;
    margin-left: 12%;
    margin-right: 12%;
    text-align: right;
}

.hover10 {
	transition: all 0.2s ease 0s;
}
.hover10:hover {
	cursor: pointer;
	transform: scale(1.04, 1.04);
}



li {
    list-style: none;
}

/* ↓ スライドの外枠 */
.slide-wrapper {
    width: 776px;
    height: 517px;
    position: relative;
    overflow: hidden; /* はみ出したスライドを隠す */
}
/*  ↓ スライド（コンテンツ） */
.slide { /*スライド全体 */
    width: 776px;
    height: 517px;
    display: flex;
    transition: all 0.6s;
}
.slide div { /* スライド */
    width: 776px;
    height: 517px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.slide1 { /* スライドさせるために必要なクラス */
    transform: translateX(0); 
}
.slide2 { /* スライドさせるために必要なクラス */
    transform: translateX(-776px);
}
.slide3 { /* スライドさせるために必要なクラス */
    transform: translateX(-1552px);
}
.slide4{
    transform: translateX(-2328px);
}



/* ↓ 左右のボタン */
.next {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(45deg) translateY(50%);
    transform: rotate(45deg) translateY(50%);
}
.prev {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
}



.footer{
    font-size: small;
    font-family:sans-serif;
    color: lightgray;
    position: fixed;
    bottom: 25px;
}
